

<nav class="w-full flex justify-between items-center text-xl mb-4" style="font-family: bebas;">
    <a class="hover:scale-110 hover:underline underline-offset-4" href="/"><h2>BLOGOMANIA</h2></a>
    <div class="flex gap-10">
        <a class="hover:scale-110 hover:underline underline-offset-4" href="/blogs">Blogs</a>
        <a class="hover:scale-110 hover:underline underline-offset-4" href="/blogs/create">Create Blogs</a>
        <a class="hover:scale-110 hover:underline underline-offset-4" href="">Products</a>
    </div>
    <div class="flex gap-10">
        <a  class="hover:scale-110 hover:underline underline-offset-4" href="/users/login">Login</a>
        <a  class="hover:scale-110 hover:underline underline-offset-4" href="/users/profile">Profile</a>
    </div>
</nav>
